.featured {
  padding: 2em 0;
  @include flex-container(center, bottom);
  @include e("img"){
    @include bg-img("../img/jam.jpg");
    @include flex-container(center, middle);
    height: 350px;
    width: 600px;
    h1 {
      @include header(2em);
      color: white;
    }
  }
  @include e("text"){
    @include flex-grid-column(12);
    color: #565A5C;
    margin-top: 3em;
    text-align: center;
    h1{
      @include header(1.5em);
    }
    span {
      color: $pink;
    }
    button {
      margin: 1em 0;
      @extend %button;
    }
    h6{
      font-size: 0.7em;
    }
  }

  }
