// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  @include flex-container();
  background-color: #2B2D2E;
  margin-top: 2em;
  padding: 2em 0;
  @include e("select"){
    @include flex-grid-column(12);
    select{
      background-color: #565A5C;
      color: white;
    }
  }
  @include e("links"){
    @extend %footer-list;
    @include m("icons"){
      @extend %footer-list;
      a{
        padding: .5em;
        border: 1px solid white;
        border-radius: 100%;
      }
    }
  }
}
