// -----------------------------------------------------------------------------
// This file contains all styles related to the hero div of the site/application.
// -----------------------------------------------------------------------------

.hero{
  height: 400px;
  @include flex-grid-column(12);
  @include flex-grid-row();
  @include flex-align(center, bottom);
  @include bg-img("../img/Dolores.jpg");
  @include e("header"){
    @include flex-grid-column(12);
    text-align: center;
    color: white;
    h1{
      font-size: 3em;
      font-weight: bold;
      line-height: .8em;
    }
  }
  @include e("form"){
    @include flex-grid-column(12);
    @include flex-grid-row(12);
    @include e("input"){
      @include flex-grid-column(10);
    }
    @include e("btn"){
      height: 39px;
      background-color: $pink;
      color: white;
      @include flex-grid-column(2);
  }

}
}
