// -----------------------------------------------------------------------------
// This file contains all styles related to the hero div of the site/application.
// -----------------------------------------------------------------------------

.hero{
  height: 400px;
  @include flex-container(center, bottom);
  @include bg-img("../img/Dolores.jpg");
  @include e("header"){
    @include flex-grid-column(12);
    text-align: center;
    color: white;
    h1{
      @include header(3em);
    }
  }
  @include e("form"){
    @include flex-container();
    @include e("input"){
      @include flex-grid-column(10);
    }
    @include e("btn"){
      height: 39px;
      @extend %button;
      @include flex-grid-column(2);
  }

}
}
